.cartProductsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(251, 182, 9);
    margin: 50px auto;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background-color: #fff;
}

.cartSummary {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.cartProductTotal {
    font-size: 1.2rem;
    color: rgb(63, 61, 61);
    margin-bottom: 10px;
}

.cartProductsTotalPrice {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.cartActions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.deleteCart {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.deleteCart:hover {
    background-color: darkred;
}

.cartLink {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: gold;
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cartLink:hover {
    background-color: darkgoldenrod;
}

.cartProductMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1300px;
    height: 80vh;
    padding: 20px;
    margin: 50px auto;
    text-align: center;
    background-color: #fff;
    border: 1px solid rgb(251, 182, 9);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.cartEmpty {
    font-size: 1.8rem;
    color: rgb(63, 61, 61);
    margin-bottom: 20px;
}

.returnToCatalog {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: gold;
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.returnToCatalog:hover {
    background-color: darkgoldenrod;
}