header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid gold;
    background-color: rgb(27, 26, 26);
    .logoHeader{
        width: 75px;
        height: 75px;
        padding: 23px;
    }
    li{
        display: inline-block;
        margin: 25px;
        color: white;
        font-size: 17px;
    }
}